.login-sign-in {
    text-align: center;

}

.login-container {
    text-align: center;
}

.login-buttons {
    align-items: flex-start;
}

.login-button {
    width: 60%;
    margin-bottom: 10px;
    background-color: rgb(97, 147, 255);
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.recruiter-button {
    background-color: rgb(255, 105, 79);
}