.login-sign-in {
    text-align: center;

}

.login-container {
    align-items: center;
    text-align: center;
}

.login-button {
    width: 40%;
    background-color: rgb(97, 147, 255);
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}