.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
    position: absolute;
    top: 35%;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.modal-content {
    align-items: center;
    background-color: aqua;
}