.new-post-form {
    /* background-color: rgb(6, 49, 141); */
    background-color: rgb(235, 235, 235);
    align-items: center;
}

.new-post-input {
    width: 100%;
    min-height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    background-color: rgb(255, 255, 255);
    border-color: black;
    resize: none;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

.timeSlider {
    text-align: center;
    width: 75%;
}

.timeSelector {
    color: black;
    text-align: center;
}

.new-post-submit {
    width: 20%;
    margin-left: 40%;
    background-color: rgb(97, 147, 255);
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.modal-overlay-style {
    background-color: rgb(235, 235, 235);
}