.profile-page-container {
    text-align: center;
}

.profile-page-head {
    text-align: center;
    display: inline-flex;
    margin-bottom: 10px;
}

.profile-page-name {
    margin-top: 13%;
    font-size: 30px;
}

.profile-page-img {
    margin-right: 20px;
    width: 100px;
    height: auto;
    border-radius: 5rem;

}
